<footer class="footer">
    <div class="footer__container">
      <div class="footer__top">
        <span class="footer__brand">
            <img src="/src/svg/header/logo-adminka.svg" alt="">
        </span>
        <nav class="footer__nav">
          <ul class="footer__menu">
            <li><a href="#" class="footer__menu-link">Product management</a></li>
            <li><a href="#" class="footer__menu-link">Prices and discounts</a></li>
            <li><a href="#" class="footer__menu-link">Store settings</a></li>
            <li><a href="#" class="footer__menu-link">Content and banners</a></li>
          </ul>
        </nav>
  
        <div class="footer__right">
          <ul class="footer__lang-list" id="langList">
            <li><button class="footer__lang-option" data-lang="en">English</button></li>
            <li><button class="footer__lang-option" data-lang="ru">Русский</button></li>
            <li><button class="footer__lang-option" data-lang="sr">Српски</button></li>
          </ul>
          <button class="footer__lang-btn" id="langBtn" aria-haspopup="true" aria-expanded="false">
            <span class="footer__lang-text">
              EN
              
              <!-- Иконку добавить позже -->
            </span>
          </button>
          
        </div>
      </div>
  
      <div class="footer__bottom">
        <span class="footer__bottom-text">© All right reserved. Adminka</span>
      </div>
    </div>
  </footer>