<header class="header">
  <div class="header__container">
    <div class="header__left">
      <a href="/" class="header__logo-link">
        <img src="/src/svg/header/logo-adminka.svg" alt="Logo" class="header__logo" width="103" height="31" />
      </a>
    </div>

    <nav class="header__nav">
      <ul class="header__menu">
        <li><a href="#" class="header__menu-link">Product management</a></li>
        <li><a href="#" class="header__menu-link">Reports and analysis</a></li>
        <li><a href="#" class="header__menu-link">Sales and orders</a></li>
        <li><a href="#" class="header__menu-link">Content and banners</a></li>
      </ul>
    </nav>

    <div class="header__right">
      <button class="header__icon-btn header__icon-btn--profile" aria-label="Profile">
        <img src="/src/img/profil.jpg" alt="Profile" width="25" height="25" class="header__profile-img"/>
      </button>
      <div class="header__search-container">
        <input type="text" class="header__search-input" placeholder="Search" />
        <button class="header__icon-btn header__icon-btn--search" aria-label="Search">
          <img src="/src/svg/header/search.svg" alt="" width="22" height="22" />
        </button>
      </div>
      <button class="header__icon-btn header__icon-btn--menu" aria-label="Menu">
        <img src="/src/svg/header/menu.svg" alt="" width="20" height="10" />
      </button>
    </div>
  </div>
</header>