<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adminka | Registration</title>
    <link rel="stylesheet" href="/src/css/main.css">
    <link rel="stylesheet" href="/src/css/auth.css/index.reg.log.css">
    <link rel="stylesheet" href="/src/css/home/index.css">
    <link rel="stylesheet" href="/src/css/fonts/font.css">
</head>
<body>
    <div class="main-contener-center">
        <div class="main-contener-sales-statistics content-main-log-reg">
            <div class="main-contener-hedding">
                <h1 style="color: #5A94FF;">Adminka</h1>
                <h1>Registration</h1>
            </div>
            <div class="contener-object-content">
                    
                <form id="auth-form" class="contener-main-log-reg">
                    <input type="surname" id="surname" placeholder="Surname" required="">
                    <input type="name" id="name" placeholder="Name" required="">
                    <input type="middle-name" id="middle-name" placeholder="Middle-name" required="">
                    
                    <input type="email" id="email" placeholder="Email" required="">
                    <input type="password" id="password" placeholder="Password" required="">
                </form>
                <button class="btn primary" style="font-family: 'Gilroy', sans-serif;">Registration</button>
                <a href="#" class="a-sign-up">
                    Have you already registered?<br>
                    <span style="color: #5A94FF;">Sign up</span>
                </a>
            </div>

        </div>
    </div>
</body>
</html>